body {
  padding-bottom: 100px;
}

section.main {
  margin: 50px auto;
  padding: 30px 0px 0px 0px;
  width: 450px;
  border: 1px solid rgb(218, 218, 218);
}

.title {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

header {
  width: 100%;
}

header > img {
  object-fit: cover;
  width: 100%;
  height: 260px;
}

.date {
  margin-bottom: 5px;
}

.count-and-delete > img {
  cursor: pointer;
}

.count-and-delete > span {
  margin: 0px 2px 3px 0px;
}

.count-and-delete {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 5px 10px 5px 0px;
}

.todo-list-input {
  display: flex;
  border-top: 1px solid rgb(218, 218, 218);
  margin-top: 10px;
  padding: 10px;
}

.new-todo {
  width: 398px;
  padding: 14px 16px 14px 12px;
  border: none;
  font-size: 14px;
  outline: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0px 10px 0px 10px;
  background-color: white;
}

li div {
  position: relative;
}

li.editing div {
  display: none;
}

li.editing .edit {
  width: 370px;
  padding: 15px 16px 12px 40px;
  border: 0;
  border-bottom: 1px solid lightgray;
  font-size: 14px;
  margin-bottom: 5px;
  outline: none;
}

li label {
  word-break: break-all;
  padding: 16px 16px 16px 40px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
  font-size: 14px;
}

li.completed label {
  color: #d9d9d9;
  text-decoration: line-through;
}

.toggle-all {
  width: 1px;
  height: 1px;
  border: none;
  opacity: 0.8;
  position: absolute;
  top: -55px;
  left: 0px;
  bottom: 0px;
}

.toggle-all + label {
  width: 60px;
  height: 20px;
  margin-top: 15px;
  font-size: 0;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.toggle-all + label:before {
  content: "❯";
  font-size: 22px;
  color: rgb(146, 143, 143);
  padding: 10px 27px 10px 27px;
}

.toggle-all:checked + label:before {
  color: #0b0b0b;
}

.toggle {
  cursor: pointer;
  text-align: center;
  width: 33px;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  border: none; /* Mobile Safari */
  -webkit-appearance: none;
  appearance: none;
}

.toggle:not(:checked):hover {
  background-size: 29px;
  background-image: url("data:image/svg+xml,%3Csvg fill='%23d1d1d1' height='64px' width='64px' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='-80.19 -80.19 632.08 632.08' xml:space='preserve'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cpath d='M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1 c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3 l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4 C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3 s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4 c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3 C444.801,187.101,434.001,213.101,414.401,232.701z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left;
  margin: 0;
}

.toggle + label {
  background-size: 29px;
  background-image: url("data:image/svg+xml,%3Csvg fill='%23000000' height='64px' width='64px' version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='-80.19 -80.19 632.08 632.08' xml:space='preserve'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg%3E%3Cpath d='M433.601,67.001c-24.7-24.7-57.4-38.2-92.3-38.2s-67.7,13.6-92.4,38.3l-12.9,12.9l-13.1-13.1 c-24.7-24.7-57.6-38.4-92.5-38.4c-34.8,0-67.6,13.6-92.2,38.2c-24.7,24.7-38.3,57.5-38.2,92.4c0,34.9,13.7,67.6,38.4,92.3 l187.8,187.8c2.6,2.6,6.1,4,9.5,4c3.4,0,6.9-1.3,9.5-3.9l188.2-187.5c24.7-24.7,38.3-57.5,38.3-92.4 C471.801,124.501,458.301,91.701,433.601,67.001z M414.401,232.701l-178.7,178l-178.3-178.3c-19.6-19.6-30.4-45.6-30.4-73.3 s10.7-53.7,30.3-73.2c19.5-19.5,45.5-30.3,73.1-30.3c27.7,0,53.8,10.8,73.4,30.4l22.6,22.6c5.3,5.3,13.8,5.3,19.1,0l22.4-22.4 c19.6-19.6,45.7-30.4,73.3-30.4c27.6,0,53.6,10.8,73.2,30.3c19.6,19.6,30.3,45.6,30.3,73.3 C444.801,187.101,434.001,213.101,414.401,232.701z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left;
}

.toggle:checked + label {
  background-size: 29px;
  background-image: url("data:image/svg+xml,%3Csvg width='64px' height='64px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_tracerCarrier' stroke-linecap='round' stroke-linejoin='round'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cpath d='M19.3 5.71002C18.841 5.24601 18.2943 4.87797 17.6917 4.62731C17.0891 4.37666 16.4426 4.2484 15.79 4.25002C15.1373 4.2484 14.4909 4.37666 13.8883 4.62731C13.2857 4.87797 12.739 5.24601 12.28 5.71002L12 6.00002L11.72 5.72001C10.7917 4.79182 9.53273 4.27037 8.22 4.27037C6.90726 4.27037 5.64829 4.79182 4.72 5.72001C3.80386 6.65466 3.29071 7.91125 3.29071 9.22002C3.29071 10.5288 3.80386 11.7854 4.72 12.72L11.49 19.51C11.6306 19.6505 11.8212 19.7294 12.02 19.7294C12.2187 19.7294 12.4094 19.6505 12.55 19.51L19.32 12.72C20.2365 11.7823 20.7479 10.5221 20.7442 9.21092C20.7405 7.89973 20.2218 6.64248 19.3 5.71002Z' fill='%23ff0000'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left;
}

.destroy {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  margin: auto;
  font-size: 30px;
  color: #cc9a9a;
  background-color: transparent;
  border: 0;
  transition: color 0.2s ease-out;
}

li:hover .destroy {
  display: block;
}

.destroy:after {
  content: "×";
}

.destroy:hover {
  color: #b84044;
}

.todo-list {
  position: relative;
}
